.tg  {border-collapse:collapse;border-spacing:0;}
.tg tr{height:60px;border-style:none;font-size:14px;
  overflow:hidden;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;word-break:normal;}
.tg .tg-0left{text-align:right;vertical-align:center;width:150px; padding-right: 10px;}
.tg .tg-0right{text-align:left;vertical-align:center;width:150px; padding-left: 10px;}
