@import 'styles/base/variables'

.profile
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &__wrapper
    display: flex
    justify-content: space-between
    width: 60vw
    align-items: center

  &__headline
    font-size: 49px
    line-height: 59px
    margin-top: 86px
    margin-bottom: 45px

  &__progress
    width: 50%
    position: relative
    height: 300px

  &__circle
    width: 300px
    height: 300px

  &__circle-wrapper
    overflow: hidden
    position: absolute
    bottom: 0
    height: 0px
    transition: height 500ms
    display: flex
    transform: rotate(180deg)

  &__circle-filled
    width: 300px
    height: 300px

  &__details
    list-style-type: none
    flex-direction: column
    display: flex
    width: 50%
    align-items: center
    padding-left: 0

  &__detail
    align-items: center
    box-sizing: border-box
    display: flex
    flex-direction: row
    margin-bottom: 10px
    padding-left: 27px
    padding-right: 27px
    position: relative

  &__select
    align-items: center
    justify-content: space-between
    font-size: 16px
    height: 48px
    font-weight: 400
    width: 232px
    border: 1px solid #fff
    border-radius: 10px
    padding: 12px 16px
    background-color: #121212
    margin-bottom: 10px

  &__select--selected

    .profile__select--label
      display: block

  &__select--dropdown
    color: #fff
    background-color: #121212

  &__select--label
    text-transform: capitalize
    font-weight: 500
    font-size: 12px
    line-height: 24px
    padding: 0 10px
    top: -10px
    left: 35px
    position: absolute
    z-index: 1
    background-color: #121212


  &__footer
    margin-top: 40px

  &__message
    font-weight: 600
    font-size: 20px

  &__back
    margin: 0 auto
    width: 200px
    margin-bottom: 100px
