@import 'styles/application'

.survey-edit

  &__title
    margin-bottom: 10px
    display: flex
    align-items: center

  &__badge
    margin-left: 10px
    top: 0

  &__category-list
    padding: 10px

  &__add-trend
    margin-top: 10px

  &__category-list
    padding: 10px

  &__add-question
    margin-top: 10px

  &__questions-list
    padding: 10px

  &__primary
    color: $color-trend-primary

  &__secondary
    color: $color-trend-secondary

  &__primary-icon
    background-color: $color-trend-primary

  &__primary-icon-text
    color: $color-background

  &__secondary-icon
    background-color: $color-trend-secondary

  &__secondary-icon-text
    color: $color-background
