@import 'styles/application'

.results
  margin-top: 72px
  display: flex
  flex-direction: column

  &__finished
    margin-left: 230px
    margin-right: 230px
    margin: 0 auto

    &__new-filter-button
      background-color: $color-primary
      border: none
      border-radius: $border-radius-sm
      color: $color-background
      cursor: pointer
      display: flex
      font-weight: $font-weight-500
      font-size: $font-size-base
      padding: $m-xs $m-sm
      width: fit-content

      &:hover
        background-color: $color-primary-dark

  &__info
    color: $color-white26
    font-size: 20px
    font-weight: 600
    line-height: 24px
    letter-spacing: -0.0025em
    margin-bottob: 16px

  &__survey-name
    font-size: 39px
    font-weight: 600
    line-height: 47px
    letter-spacing: -0.0025em
    margin-bottom: 32px

  &__description
    font-size: 18px
    font-weight: 400
    line-height: 27px
    letter-spacing: 0.005em
    margin-bottom: 56px
    width: 523px

  &__legend
    display: flex
    flex-direction: column
    width: 300px
    margin-bottom: 100px

  &__item
    display: flex
    height: 46px
    align-items: center

  &__item-name
    flex: 1 1 40px
    font-size: 16px
    color: #A9A9A9
    font-weight: 600
    line-height: 19px
    letter-spacing: 0em
    margin-right: 20px
    flex-wrap: nowrap
    +ellipsis

  &__icon
    display: flex
    justify-content: flex-start
    align-items: center
    width: 40px


@include media-breakpoint-down(sm)

  .results
    margin-top: 43px
